<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="Personal Portfolio of Ara Andrea Roman" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - RomanAra.MyfirstWebapp</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version) -->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap) -->
    <link href="~/css/styles.css" rel="stylesheet" />
    <style>
  body {
    background-color: var(--bs-primary); /* pink background */
  }
</style>
    
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Ara Andrea Roman</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/assets/img/profile.jpg" alt="Profile picture" />
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="problem3">Problem 3</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content -->
<div class="container-fluid p-0">
@RenderBody()
</div>


  <!-- About Section -->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Ara Andrea <span class="text-primary">Roman</span>
            </h1>
            <div class="subheading mb-5">
                New San Jose Sulidum Street ·
                <a href="mailto:Romana034@gmail.com">Romana034@gmail.com</a>
            </div>
            <p class="lead mb-5">
                I am a student at college of subic montessori inc, currently taking up information systems.
                 I am a friendly person and love to communicate to other person . I am also a hardworking person and I always strive to do my best in everything that I do.
            </p>
            <div class="social-icons">
                <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/Andrea301706"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://www.facebook.com/ara.andrea.roman.2025"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>

    <hr class="m-0" />

    <!-- Experience Section -->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Student</h3>
                    <div class="subheading mb-3">Learning How to Code</div>
                    <p>
                        I am currently a student tackling Information Systems. My experience includes making programs even when I had no prior knowledge of coding. Now, I am learning and improving my skills. As a first-timer, I am exploring and trying to understand the basics.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2025 - Present</span></div>
            </div>
        </div>
    </section>

    <hr class="m-0" />

    <!-- Education Section -->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Nueva Caceres</h3>
                    <div class="subheading mb-3">Humanities and Social Sciences</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2023 - May 2024</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">College of Subic Montessori Inc.</h3>
                    <div class="subheading mb-3">Information Systems</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2025 - Present</span></div>
            </div>
        </div>
    </section>

    <hr class="m-0" />

    <!-- Skills Section -->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                <li class="list-inline-item"><i class="fab fa-less"></i></li>
                <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            </ul>
            <ul class="fa-ul mb-0">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Good in Communication</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Critical Thinking</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Decision Making</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Leadership</li>
            </ul>
        </div>
    </section>

    <hr class="m-0" />

    <!-- Projects Section -->
    <section class="resume-section" id="projects">
        <div class="resume-section-content">
            <h2 class="mb-5">Projects</h2>
            <p>
                the project that we did in our school is planting, cooking and etc, that will be our mark as project on school
            </p>
            <p class="mb-0">
                Aside from makeup, I love reading—especially about current trending topics like politics. As a Humanista, I stay aware of what's happening around the world. As a student, I also worry about how public funds are being used and misused. We need to be more aware of these issues.
            </p>
        </div>
    </section>

    <hr class="m-0" />

    <!-- Problem 3 Section -->
    <section class="resume-section" id="problem3">
        <div class="resume-section-content">
            <h2 class="mb-5">Problem </h2>
     
         <section class="resume-section" id="Problem4">
    <div class="resume-section-content">
        <h2 class="mb-3">Quick Average Calculator</h2>

        <form method="post" asp-page="/Problem4">
            <div>
                <label>Number 1:</label>
                <input type="number" step="any" name="Number1" required />
            </div>
            <div>
                <label>Number 2:</label>
                <input type="number" step="any" name="Number2" required />
            </div>
            <div>
                <label>Number 3:</label>
                <input type="number" step="any" name="Number3" required />
            </div>
            <div>
                <button type="submit">Calculate</button>
            </div>
        </form>
        <p>Please enter numbers and submit to calculate the average.</p>
    </div>
</section>
           
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>

    
        