@page "/posts"
@model RomanAra.MyfirstWebapp.Pages.Posts


<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
  
  <form class="row g-3">
  <div class="col-auto">
    <label for="staticTitle" class="visually-hidden">Title</label>
  </div>
  <div class="col-auto">
    <label for="inputBody" class="visually-hidden"></label>
    <input type="text" class="form-control" id="inputBody" placeholder="Search Title" 
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Apply</button>
  </div>
</form>
    @if (Model.ApiResponse != null)
    {
        foreach (var post in Model.ApiResponse)
        {
            <tr>
                <th scope="row">@post.userId</th>
                <td>@post.id</td>
                <td>@post.title</td>
                <td>@post.body</td>
            </tr>
        }
    }

    else
    {
        <tr><td colspan="4">No data available.</td></tr>
    }
  </tbody>
</table>
